
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>@ViewBag.Title</h4>
                </div>
            </div>
            <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Setup</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Branches</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>New Class</span></li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="card" style="margin-top:1%;width:100%">

        <div class="card-body" style="margin-top: 20px">
            <form>
                <div class="row">

                    <div class="col-12 col-md-9">
                        <div class="form-group row mb-3">
                            @Html.Label("Class Name", new { @class = "col-form-label col-12 col-md-3", @for = "TextBoxDescription" })
                            <div class="col-12 col-md-9">
                                <div class="input-group">
                                    <span class="input-group-text"><i class=""></i></span>
                                    @Html.TextBox("TextBoxDescription", null, new { @class = "form-control", placeholder = "Please Enter Class Name Here!", @id = "TextBoxDescription" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-9">
                        <div class="form-group row mb-3">
                            @Html.Label("Study Level", new { @class = "col-form-label col-12 col-md-3", @for = "DropDownListStudyLevel" })
                            <div class="col-12 col-md-9">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="ri-settings-line"></i></span>
                                    @Html.DropDownList("DropDownListStudyLevel", Enumerable.Empty<SelectListItem>(), new { @class = "form-control select2", @data_toggle = "select2", id = "DropDownListStudyLevel" })
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="col-12 col-md-9">
                        <div class="form-group row mb-3">
                            @Html.Label("Study Group", new { @class = "col-form-label col-12 col-md-3", @for = "DropDownListStudyGroup" })
                            <div class="col-12 col-md-9">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="ri-settings-line"></i></span>
                                    @Html.DropDownList("DropDownListStudyGroup", Enumerable.Empty<SelectListItem>(), new { @class = "form-control select2", @data_toggle = "select2", id = "DropDownListStudyGroup" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-footer">

            <div class="col-sm-12 form-group">
                <div class="card-heading">
                    <input type="button" class="btn btn-info" id="ButtonSubmitDown" value="Sumbit" />
                    <i class="fa fa-arrow-up"></i>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/SiteScripts/ACompany/MClassUI/CreateNewAppClass.js"></script>