
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12 d-flex justify-content-between align-items-center">
                    <h4>@ViewBag.Title</h4>

                </div>
            </div>
            <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Setup</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Fee</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Create New Fee Type</span></li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card" style="margin-top:1%;width:100%">
       
        <div class="card-body">
            <h3 style="font-family: 'Bahnschrift'; font-weight: bolder; color: navy">Search Parameter</h3>
            <div class="row mb-0">
                <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                        @Html.Label("Search By", new { @class = "col-form-label", @for = "DropDownListSearchBy" })
                        @Html.DropDownList("DropDownListSearchBy",new List<SelectListItem>
                                                                    {
                                                                        new SelectListItem { Value = "0", Text = "Select An Option" },
                                                                        new SelectListItem { Value = "1", Text = "Get All Fee Type" },
                                                                        new SelectListItem { Value = "2", Text = "Fee Name" },
                                                                    },
                                                                    new { @class = "form-control select2", @data_toggle = "select2", id = "DropDownListSearchBy" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                        @Html.Label("Input", new { @class = "col-form-label", @for = "TextBoxQueryString" })
                        <div class="input-group">
                            @Html.TextBox("TextBoxQueryString", null, new { @class = "form-control", placeholder = "Please Enter Value Here!", @id = "TextBoxQueryString" })
                            <div id="ButtonSearch" class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="bootstrap-admin-panel-content">
                <table class="table table-bordered table-sm order-column stripe table-hover" style="width: 100%" id="MainTableFeeType">
                    <tbody id="TableBodyMainTableFeeType">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script src="~/SiteScripts/AAccounts/MFeeUI/AccFeeTypeList.js"></script>

